[user]
	email = orenzp@hotmail.com
	name = Oren Zipori
	signingKey = ""
[alias]
	ci = commit
	st = status
[core]
	autocrlf = input
	editor = vim
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
